.header {
  max-width: 1052px;
  margin-top: 92px;
  margin-left: 24px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
}
.header_menu {
  max-width: 391.48px;
  width: 100%;
  margin-top: 44px;
  margin-left: 26.52px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.header__links-list {
  display: flex;
  flex-direction: row;
  list-style-type: circle;
  gap: 34px;
}
.header__link_active {
  text-decoration: none;
}
.header__links-list-item_no-bullit {
  list-style-type: none;
}
.header__links-list-item {
  border-bottom: 1px solid;
}
.header__logo {
  display: block;
}
.header__logo-image {
  justify-items: center;
  width: 148px;
  height: 105px;
  left: 454px;
}
.address {
  justify-self: end;
  max-width: 240.52px;
  width: 100%;
  margin-top: 5px;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  margin-right: 23px;
}
.header__link {
  text-decoration: none;
  border-bottom: 1px solid;
}
.cover {
  max-width: 1100px;
  width: 100%;
  min-height: 757px;
  margin-top: 92px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.overlay {
  opacity: 0.6;
  background-color: #000000;
  position: absolute;
  inset: 0;
}
.cover__title {
  max-width: 1000px;
  width: 100%;
  padding-top: 165px;
  padding-left: 50px;
  position: relative;
  z-index: 0;
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 0.3em;
}
.aligned-text {
  line-height: 115px;
  letter-spacing: 0.295em;
  text-align: left;
}
.aligned-text_center {
  padding-top: 100px;
  padding-left: 287px;
  line-height: 140px;
  text-align: left;
}
.aligned-text_right {
  padding-left: 585px;
  text-align: right;
}
.letter-spacing-extended {
  padding-left: 30px;
}
.no-letter-spacing {
  text-align: right;
  letter-spacing: 0em;
}
.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.cover__description-text {
  margin-top: 147px;
  margin-left: 78px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 19px;
}
.bet-button {
  width: 256px;
  height: 51px;
  margin-top: 135px;
  margin-right: 50px;
  border: 1px solid #ffffff;
  background: transparent;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.lots {
  max-width: 1052px;
  margin-top: 179px;
  margin-left: 24px;
}
.lots__heading {
  margin-left: 40px;
  text-transform: uppercase;
  line-height: 47px;
  font-size: 40px;
}
.lots__card-list {
  list-style-type: none;
  display: flex;
  flex-grow: 1;
  gap: 25px;
}
.lots__card-list-item {
  width: 334px;
  min-height: 563px;
  margin-top: 27px;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}
.card__links {
  height: 100%;
  text-decoration: none;
}
.card {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card__title {
  padding: 51px 40px 0px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  text-decoration: underline solid #fff;
  text-underline-position: from-font;
  position: relative;
  z-index: 1;
}
.card__text {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding: 0px 40px 48px;
  position: relative;
  z-index: 1;
}
.lots__look-more-link {
  display: block;
  max-width: 192px;
  margin-top: 31px;
  margin-left: 40px;
  text-decoration: none;
  border-bottom: 1px solid;
  font-size: 20px;
}
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  margin: 146px 24px 0px;
}
.about__logo {
  background-color: #000000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  justify-items: center;
  margin-top: 35px;
  margin-left: 47px;
}
.about__logo-image {
  width: 148px;
  height: 114px;
  margin-top: 64px;
  margin-left: 46.48px;
}
.about__column {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
}
.about__title {
  order: 1;
  padding-top: 136px;
  padding-bottom: 76px;
  padding-left: 25px;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 47px;
}
.about__text {
  padding-left: 25px;
  display: flex;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
}
.footer {
  margin: 180px 50px 88px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.address_footer {
  justify-self: start;
  max-width: 240.52px;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  margin-left: 2px;
}
.footer__link {
  text-decoration: none;
  border-bottom: 1px solid;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__menu-list {
  list-style-type: none;
  text-align: center;
}
.footer__menu-list-item {
  font-size: 18px;
  letter-spacing: 0em;
}
.footer__menu-link {
  text-decoration: none;
  border-bottom: 1px solid;
}
.footer__menu-link_active {
  text-decoration: none;
}
.footer__social-list {
  justify-self: end;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 48px;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}
